{"swagger":"2.0","info":{"title":"Bullhorn Connector","description":"Custom connector for Bullhorn API","version":"1.0"},"host":"rest-emea.bullhornstaffing.com","basePath":"/","schemes":["https"],"produces":["application/json"],"paths":{"/rest-services/loginInfo":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"Authorization":{"type":"string","description":"Authorization"}}}}},"summary":"get rest","description":"get urls","x-ms-visibility":"important","operationId":"Getresturlid","parameters":[{"name":"username","in":"query","required":false,"type":"string"}]}},"/rest-services/login":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"BhRestToken":{"type":"string","description":"BhRestToken"},"restUrl":{"type":"string","description":"restUrl"}}}}},"summary":"BH Login","description":"BH Login","operationId":"BHLoginID","x-ms-visibility":"important","parameters":[{"name":"version","in":"query","required":false,"type":"string","default":"*","x-ms-visibility":"important"},{"name":"access_token","in":"query","required":false,"type":"string","x-ms-summary":"access_token","description":"access_token","x-ms-visibility":"important"},{"name":"fields","in":"query","required":false,"type":"string","default":"id,dateAdded,status","x-ms-visibility":"important"}]}}},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://auth-emea.bullhornstaffing.com/oauth/authorize","tokenUrl":"https://auth-emea.bullhornstaffing.com/oauth/token","scopes":{}}},"security":[{"oauth2-auth":[]}]}